{% extends 'main_templates/main.html' %}

{% block content %}
<style type="text/css">
	.toper{
		padding-top: 100px;
	}
	.text-footer,hr{
    color: white;
	}
	a:hover {
	  color: #BDE4CF; 
	  text-decoration: none; 
	}
		
    .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
@media(min-width: 440px) and (max-width: 770px){
    .form-control{
        font-size: 0.65rem;
    }
    .btn-group-lg>.btn, .btn-lg {
        font-size: 0.70rem;
    }
    .text-center {
        font-size: 1.40rem;
    }
}
@media(max-width: 440px){
    .form-control{
        font-size: 0.45rem;
    }
    .btn-group-lg>.btn, .btn-lg {
        font-size: 0.50rem;
    }
    .text-center {
        font-size: 1.10rem;
    }
}
}
@media (min-width: 770px) {
    .form-control{
        font-size: 0.85rem;
    }
    .btn-group-lg>.btn, .btn-lg {
    font-size: 0.70rem;
    }
    .text-center {
        font-size: 1.70rem;
    }
}
</style>
<div class="toper">

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
	</div>
</div>
</div>
{% endblock %}